:root{
    --ice: #9bfafd;
    --pale: #71C8FF;
    --sky: #00ddff;
    --aqua: #0093ee;
    --navi: #0176be;
    --lime: #00fcce;
    --moss: #00bf9c;
}

.color-ice{
    color: var(--ice);
}
.color-pale{
    color: var(--pale);
}
.color-sky{
    color: var(--sky);
}
.color-aqua{
    color: var(--aqua);
}
.color-navi{
    color: var(--navi);
}
.color-lime{
    color: var(--lime);
}
.color-moss{
    color: var(--moss);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--ice);
}

header {
    display: flex;
    background-color: var(--aqua);
    width: 100%;
    height: 55px;
    justify-content: center;
  align-items: center;
    
 }
 header h1 {
    color: var(--sky);
 }
 nav {
    display: flex;
    background-color: var(--pale);
    width: 100%;
    height: 55px;
 }
 nav a {
    display: flex;
    color: var(--navi);
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    padding: 15px;
    align-items: center;
    justify-content: center;
  }
  nav a:hover{
    background-color: var(--lime);
    color: var(--moss);
  }
  nav a:active{
    background-color: var(--lime);
    color: var(--moss);
  }
  
  .start-intro{
    display: flex;
    justify-content: center;
    height: 44vh;
  }
  .start-intro img{
    margin: 25px 50px;
    object-fit: cover;
  }
  .start-intro p{
    align-self: center;
    font-size: large;
    width: 200px;
    margin: 25px 50px;
  }

  .start-botton-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44vh;
  }
  .start-button{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    margin: 0px 2.5%;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    background-color: var(--aqua);
    border-color: var(--navi);
    color: var(--sky);
  }
  .start-button p{
    font-size: x-large;
    font-weight: bold;
  }
  .start-button i{
    font-size: 90px;
    margin: 25px 0px;
  }

  .start-button:hover{
    background-color: var(--lime);
    border-color: var(--moss);
    color: var(--moss);

  }

